<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailTemplate.ET" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <userSettings>
        <EmailTemplate.Properties.Settings>
            <setting name="Versioning" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>Jam Rotel and Enzo Rodriguez</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>jamille-john.r.rotel@dxc.com / lorenzo-enrico.her.rodriguez@dxc.com</value>
            </setting>
        </EmailTemplate.Properties.Settings>
    </userSettings>
  
</configuration>