<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
throwExceptions="true"
internalLogLevel="Off" internalLogFile="${basedir}/log/archive/internal_log_file.txt">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="logFilePath" value="${basedir}/log/Log-${shortdate}.log" />

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>

      <target name="logfile"
              xsi:type="File"
              fileName="${logFilePath}"
              layout="${longdate} LEVEL=${level:upperCase=true}: ${message} ${exception:format=tostring}"
              keepFileOpen="true"
               />
              <!--archiveOldFileOnStartup="true"--> 


    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />

    </rules>

  </nlog>
</configuration>